<%provide(:title, 'Expenses') %>
<%provide(:tagline, 'Sending your expenses to Stephen and Keith has never been easier.') %>

<div class="page-content">
      <div class="container">
        <div class="row">
          <div class="add-expense col-md-6">
            <!-- Nav tabs -->
            <ul id="expenses-tab" class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#add-expenses" data-toggle="tab" role="tab">Add Expense</a></li>
              <li><a href="#view-expenses" data-toggle="tab" role="tab">View Expenses</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active tab-well well" id="add-expenses">                               
                <%= render 'add_expenses' %>
              </div>
              <div class="tab-pane tab-well well" id="view-expenses">
                <%= render 'view_expenses' %>
              </div>
            </div>
            
          </div>

          

          <div class="col-md-6">
            <h2>Help Guide</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula aliquam sagittis. </p>
            <p>Duis blandit nunc non ante convallis, eget consectetur lacus dictum. Nunc felis velit, posuere id erat a, rutrum vestibulum est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ultricies posuere lorem, vel ultrices augue dictum eget.</p>
            <p>Pellentesque blandit gravida nibh vitae feugiat. Vivamus id vulputate magna. Aliquam erat volutpat. Mauris mattis in quam sit amet pharetra. Duis eu justo eget nibh tincidunt varius. Sed eu lectus congue, laoreet justo sit amet, pharetra elit. In cursus justo vitae nunc sagittis mattis. Donec vitae massa tempus, semper lacus eu, tristique velit. Integer auctor tristique nulla, ac tempus odio iaculis sit amet.</p>
          </div>


        </div>
        
      </div>
    </div>

    
