<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Amount</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Urgency</Data></Cell>
        <Cell><Data ss:Type="String">Date Created</Data></Cell>
      </Row>
    <% @expenses.each do |expense| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= expense.amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= expense.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= expense.urgency.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= expense.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>