<div class="footer">
      <div class="container">
        <p class="text-muted">If you have any ideas for improvements or more useful tools email <a href="mailto:nathan@christchurchsouthampton.org.uk">Nathan</a>. CCS Office Apps are a work in progress! </p>
      </div>
    </div>